<div class="page-header">
  <h1><%= @plugin.type %></h1>
<div id="reportrange" class="selectbox active pull-right">
<%= form_for(@plugin,:html=>{:id=>'date_range_form'}, :method => 'get') do |f| %>
<%= f.label "Range: Select date range", html: { class: "daterange" } %>
<%= f.hidden_field :date_range_start, hidden: true %>
<%= f.hidden_field :date_range_end, hidden: true %>
<% end %>
</div>
</div>
 
<script type="text/javascript">
$('#reportrange').daterangepicker({ timePicker: true, timePicker12Hour: false, timePickerIncrement: 5, format: 'YYYY-MM-DD H:mm',ranges: {
         'Last hour': [moment().subtract('hours',1), moment()],
         'Last 6 hours': [moment().subtract('hours',6), moment()],
         'Today': [moment().startOf('day'), moment()],
         'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
         'Last 7 Days': [moment().subtract('days', 6), moment()],
         'Last 30 Days': [moment().subtract('days', 29), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      },
      startDate: moment().subtract('days', 29),
      endDate: moment()
    },
    function(start, end) {
        $('#reportrange input #plugin_period').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
	document.getElementById('plugin_date_range_start').value=start.toJSON();
	document.getElementById('plugin_date_range_end').value=end.toJSON();
$('#date_range_form').submit();
    }
);
</script>

<dl class="dl-horizontal">
  <dt><strong> ip_address:</strong></dt>
  <dd><%= @plugin.host.ip_address %></dd>
  <dt><strong> hostname:</strong></dt>
  <dd><%= @plugin.host.hostname %></dd>
  <dt><strong>plugin:</strong></dt>
  <dd><%= @plugin.type %></dd>
</dl>
<%= render "plugins/host_plugins" %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              plugins_path, :class => 'btn'  %>
</div>

<%= render "plugins/facts" if @plugin.type == 'facts'%>
<%= render "plugins/universal" %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              plugins_path, :class => 'btn'  %>
</div>
