%div.row
 %div.col-md-3
  %div{:class => 'input-group', :id => 'reportrange', :style => 'padding-top:10px'}
   = form_for(@plugin,:html=>{:class => 'input-group',:id=>'date_range_form'}, :method => 'get') do |f|
    %span{:class=>"input-group-addon"}
     %i{:class => "fa fa-calendar fa-lg"}
    = f.text_field :date_range_start, :class => 'form-control', :readonly => true
    = f.text_field :date_range_end, :class => 'form-control', :readonly => true
  = render "plugins/host_info"
  = render "plugins/host_plugins" 
 %div.col-md-9
  = render "plugins/facts" if @plugin.type == 'facts'
  = render "plugins/universal"
  %div.form-actions
   = link_to t('.back', :default => t("helpers.links.back")), plugins_path, :class => 'btn'
